@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Интернет магазин</title>
</head>
<body>
    <table>
        <tr>
            <td><p>Наименование товара</p></td>
            <td><p>Описание</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var i in ViewBag.Items)
        {
            <tr>
                <td><p>@i.Name</p></td>
                <td><p>@i.Description</p></td>
                <td><p><img width="189" height="255" src=@i.ImagePath /></p></td>
                <td><p>@i.Price</p></td>
                <td><p><a href="/Home/Details/@i.Id">Подробнее</a></p></td>
            </tr>
        }
    </table>
</body>
</html>